# Node dependencies
node_modules/
# Build artifacts placed in dist/
dist/
# Wrangler preview builds to worker/
worker/

# Artifacts created from 3d models
models/*.xhtml.ts
models/required.css
*.blend1
