$bg-light: rgb(40, 44, 52);
$bg-dark: rgb(37, 37, 38);

$off-white: rgb(171, 178, 192);
$grey: rgb(91, 98, 112);
$blue: rgb(92, 173, 240);
$cyan: rgb(81, 182, 195);
$green: rgb(149, 193, 116);
$yellow: rgb(210, 155, 98);
$orange: rgb(210, 155, 98);
$purple: rgb(197, 116, 221);
$red: rgb(225, 107, 115);