@import '../util/_colors.module.scss';

// Reference
// https://codepen.io/AllThingsSmitty/pen/MmxxOz

// Hide checkbox
#debug-input {
    display: none;
}

#debug-label {
    position: relative;
    display: block;
    margin: 1em auto;
    margin-top: 0;
    height: 34px;
    width: 60px;
    border-radius: 17px;
    background-color: $red;
    border: 1px solid $bg-dark;
    transition: 300ms;
}

#debug-label::after {
    content: "";
    left: 0px;
    position: absolute;
    border: 1px solid $bg-dark;
    background-color: $bg-light;
    margin: 3px;
    border-radius: 15px;
    height: 24px;
    width: 24px;
    transition: 300ms;
}

// Active styling
#debug-input:checked ~ main #debug-label {
    background-color: $green;
}
#debug-input:checked ~ main #debug-label::after {
    left: 26px;
}

// Debug
#debug-input:checked ~ main :global(.triangle) {
    outline: 2px solid $cyan;
}