@import '../util/_colors.module.scss';

$cursor-width: 4;

.header {
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: $bg-dark;
    color: $off-white;
    font-size: 40px;

    .top { 
       height: 60px;
       padding: 5px;
    }

    .me { color: $yellow; }
    .typeof {color: $off-white; }
    .type { color: $red; }
    .semicolon {color: $off-white; }
    
    .static {
        display: inline-block;
        overflow: hidden;
    }

    .typing {
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        border-right: $cursor-width + px solid;
        // 19 characters in 'Software Developer;'
        animation: 
            type 3s steps(19, end),
            blink 1s step-end infinite;
    }
}

@keyframes type {
    0%, 50% { width: $cursor-width + px; }
    to { width: #{(19 * 24 + $cursor-width)}px; }
}

@keyframes blink {
    from, to { border-right-color: transparent; }
    50% { border-right-color: $blue; }
}

nav {
    font-size: large;
    color: $off-white;
    border-bottom: 1px solid black;
    padding: 0 10px;

    :first-child {
        border-left: 1px solid black;
    }

    a, span {
        display: inline-block;
        padding: 4px 10px;
        border-right: 1px solid black;

        &:hover, &:focus {
            background-color: $bg-lighter;
        }
    }
    
    .selected {
        background-color: $bg-light;
        border-top: 1px solid black;
        box-shadow: 0 1px 0 0 $bg-light;
    }
}

@media (max-width: 850px) {
    .header {
        font-size: 28px;
        .top {
            height: 44px;
        }
    }

    @keyframes type {
        0%, 50% { width: $cursor-width + px; }
        to { width: #{(19 * 16.8 + $cursor-width)}px; }
    }
}

@media (max-width: 550px) {
    .header {
        font-size: 21px;
        .top {
            height: 36x;
        }
    }

    nav {
        padding: 0;

        a, span {
            width: 25%;
            padding: 4px 0;
            font-size: 3.5vw;
            text-align: center;
        }

        :first-child { border-left: none; }
        :last-child { border-right: none; }
    }

    @keyframes type {
        0%, 50% { width: $cursor-width + px; }
        to { width: #{(19 * 12.5 + $cursor-width)}px; }
    }
}

@media (max-width: 420px) {
    .header {
        font-size: 16px;
        .top {
            height: 28px;
        }
    }

    nav {
        a,span {
            font-size: 12px;
        }
    }

    @keyframes type {
        0%, 50% { width: $cursor-width + px; }
        to { width: #{(19 * 9.5 + $cursor-width)}px; }
    }
}