@import '../util/_colors.module.scss';

$cursor-width: 4;

.header {
    position: sticky;
    top: 0;
    font-size: 40px;
    background-color: $bg-dark;
    color: $off-white;

    .top { 
       height: 60px;
       padding: 5px;
    }

    .me { color: $yellow; }
    .typeof {color: $off-white; }
    .type { color: $red; }
    .semicolon {color: $off-white; }
    
    .static {
        display: inline-block;
        overflow: hidden;
    }

    .typing {
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        border-right: $cursor-width + px solid;
        // 19 characters in 'Software Developer;'
        animation: 
            type 3s steps(19, end),
            blink 1s step-end infinite;
    }
}

@keyframes type {
    0%, 50% { width: $cursor-width + px; }
    to { width: #{(19 * 24 + $cursor-width)}px; }
}

@keyframes blink {
    from, to { border-right-color: transparent; }
    50% { border-right-color: $blue; }
}

nav {
    font-size: large;
    color: $off-white;
    border-bottom: 1px solid black;
    padding-left: 4vw;

    :first-child {
        border-left: 1px solid black;
    }

    a, span {
        display: inline-block;
        padding: 4px 10px;
        border-right: 1px solid black;

        &:hover, &:focus {
            background-color: $bg-lighter;
        }
    }
    
    .selected {
        background-color: $bg-light;
        border-top: 1px solid black;
        box-shadow: 0 1px 0 0 $bg-light;
    }
}