@import '../util/colors.module.scss';

.project {
    // Largest viewport
    margin-top: 10vh;
    margin-bottom: 30vh;


    .title {
        color: $orange;
        padding: 0;
        margin: 0;
        font-size: calc(max(10vw, 40px)); 
        line-height: 70%; 
        font-weight: 400;
    }
    .tagline {
        color: $blue;
        margin: 0; 
        padding: 0; 
        font-size: calc(max(4vw, 24px));  
        line-height: 80%; 
        text-shadow: 1px 1px $bg-dark;
    }
}

.techList {
    margin: 1vw 4vw;
}

.techUsed {
    margin-right: 20px;
    padding: 3px;
    border-radius: 6px;
    background-color: $red;
    color: white;
}

.container {
    color: $off-white;
    margin-left: 4vw;
    display: flex;
    align-items: flex-start;

    img{
        width: 300px;
    }
    p {
        margin-top: 0;
        font-size: large;
    }
}

.description {
    display: inline-block;
    width: 30em;
}
.images {
    display: inline-block;
    * + * { margin-top: 10px;}
}
.frame3d {
    margin-top: 125px;
    margin-left: 350px;
}

.softbreak {
    @media (min-width: 550px) {
        display: none;
    }
}