@import '../util/colors.module.scss';

.project {
    // overflow: hidden;
    padding-top: 30px;
    padding-bottom: 50px;

    .title {
        color: $orange;
        padding: 0;
        margin: 0;
        font-size: calc(max(10vw, 40px)); 
        line-height: 70%; 
        font-weight: 400;
    }
    .tagline {
        color: $blue;
        margin: 0; 
        padding: 0; 
        font-size: calc(max(4vw, 24px));  
        line-height: 80%; 
        text-shadow: 1px 1px $bg-dark;
    }
}

.techList {
    margin: 1vw 4vw;
}

.techUsed {
    margin-right: 20px;
    padding: 3px;
    border-radius: 6px;
    background-color: $red;
    color: white;
}

.container {
    position: relative;
    color: $off-white;
    margin-left: 4vw;

    img{
        width: 300px;
    }
    p {
        margin-top: 0;
        font-size: large;
    }
}

.flex {
    display: inline-flex;
    align-items: flex-start;
    width: calc(min(45vw, 800px));
}

.description {
    display: inline-block;
}
.images {
    margin-left: 10px;
    display: inline-block;
    * + * { margin-top: 10px;}
}
.frame3d {
    width: 0;
    height: 0;
    position: absolute;
    left: 70vw;
    top: 100px;
    display: inline-block;
}



@media (max-width: 1400px) {
    .flex {
        flex-direction: column;
    }
    .description {
        order: 3;
    }

    .images {
        order: 2;
        margin: 0;
        img {
            width: unset;
            height: 150px;
        }
        * {
            display: inline-block;
        }
        * + * {
             margin-top: unset; margin-left: 10px; 
            }
    }

    .frame3d {
        order: 1;
        transform: scale(0.75);
    }
}

@media (max-width: 1000px) {
    .frame3d {
        order: 1;
        transform: scale(0.5);
    }
    .images img {
        width: unset;
        height: 100px;
    }
}

@media (max-width: 700px) {
    .container {
        margin-right: 4vw;
    }
    .flex { 
        width: 100%; 
    }
    .frame3d {
        position: relative;
        display: block;
        margin: auto;
        left: unset;
        top: unset;
        height: 250px;
    }
}
@media (max-width: 350px) {
    .frame3d {
        transform: scale(0.4);
    }
}


.softbreak {
    @media (min-width: 550px) {
        display: none;
    }
}