@import './src/util/_colors.module.scss';

#root {
    width: 100%;
}

:global {
    html {
        min-width: 320px;
        height: 100%;
        background-color: $bg-light;
    }
    body {
        margin: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        font-family: 'Fira Code', monospace;
    }
    code {
        font-family: 'Fira Code', monospace;
    }
    * {
        box-sizing: border-box;
    }

    a {
        color: unset;
        text-decoration: none; /* no underline */
    }
    
    p a {
        color: $cyan;
    }
}

