#root {
    width: 100%;
}

:global {
    html {
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
    }
    body {
        margin: 0;
        display: flex;
        font-family: 'Fira Code', monospace;
    }
    * {
        box-sizing: border-box;
    }
}